$fontbody: 'Open Sans', sans-serif;
$fonttitle: 'Shadows Into Light', cursive;

body {
    background-color: #eceff0;
}

body, input {
    font: $fontbody;
    color: #363639;
}

.header {
    font-family: $fonttitle;
    letter-spacing: 2px;
    margin: 0 0 10px 0;
    text-align: center;
    text-decoration: underline;
}

.notes {
    background-color: #fff;
    margin: 20px auto;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, .1);
}

#notetable {
    width: 100%;
    #headtitle {
        font-family: $fonttitle;
        font-size: 24px;
        text-align: left;
    }
    #headcontent, #headaction {
        font-family: $fontbody;
        font-size: 18px;
        text-align: left;
    }
}

td.title {
    font-family: $fonttitle;
    font-size: 18px;
}

td.content {
    font-family: $fontbody;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #363639;
}

.items {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
        border: 0;
        border-bottom: 1px dashed #ccc;
        padding: 5px 0;
    }
}

.content {
    font-family: $fontbody;
    margin-top: 0;
}

form {
    border: 1px dashed #ccc;;
   padding: 10px;         
    margin-top: 10px;
    .title-add {
        font-family: $fonttitle;
        font-size: 24px;
        border: none;
        width: 100%;
        margin-bottom: 5px;
    }
    .content-add {
        display: block;
        border: none;
        width: 100%;
        padding: 0 0 50px 0;
        box-sizing: border-box;
    }
}

.submit {
    background-color: #bdecb6;
    margin-top: 10px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    width: 30%;
    box-shadow: 3px 3px 0 #ddd;
}

button.edit {
    background-color: #ffb347;
    font-family: $fonttitle;
    margin-top: 10px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    box-shadow: 3px 3px 0 #ddd;
}

button.delete {
    background-color: #ff6961;
    font-family: $fonttitle;
    margin-top: 10px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    box-shadow: 3px 3px 0 #ddd;
}